doctype html
html
    head
        link(rel='stylesheet', href='/css/style.css')
        script(src='//code.jquery.com/jquery-1.11.0.min.js')
        
        
        title Chatroom
    body
        div#nav
            div#nav_wrapper
                ul
                    li 
                        a(href="/", title="Home") Home
                    li
                        a(href="/chat", title="Chat") Chatroom
                    li
                        a(href="/Register", title="Register") Register
                    li
                        a(href="/About", title="About") About
                    li
                        a(href="/Users/Login", title="Login") Login
    block content
        