doctype html
html
    head
        link(rel='stylesheet', href='/css/style.css')
        script(src='//code.jquery.com/jquery-1.11.0.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/index.js')
        title Chatroom
    body
        div#nav
            div#nav_wrapper
                ul
                    li 
                        a(href="/", title="Home") Home
                    li
                        a(href="#", title="Chat") Chatroom
                    li
                        a(href="#", title="Sign up") Register
                    li
                        a(href="#", title="About") About
                    li
                        a(href="#", title="Login") Login
    block content
        