extends Shared/Layout.jade

block content
     h1 About Us
     <div id="aboutProjectDescription">
     <h2 id="description">Description:</h2>
     <p>In this assignment you will be creating a real-time social networking application. 
     Again, this will be a web app that you will design and create from the ground up using the specified stack. 
     Try to take what you have learned from Project 1 and use it to make this project more manageable and easier to tackle.  
     This application should enable logged in users to chat back and forth with whomever else is logged in. 
      Effectively, this should resemble the old 90’s style of chat rooms that used to be so prolific on the internet.
     Everyone that is logged in should see everyone else’s messages, and should be able to respond to the entire connected group.
     Your users should be allowed to login and log off, as well as register to create an account. When a new account is created, just add it to the database – don’t worry about sending out emails for confirmation or anything like that. Once logged in, the user should be taken directly to the chat room. 
     </p>
     </div>
     <div id="aboutRequirements" class="aboutRequirements-div">
     <h2 id="requirements">Requirements:</h2>
     <h4>About Tech Stack:</h4>
     <ul id="techStackList">
     <li> <a id="nodeJsLink" href="https://nodejs.org/en/">Node.Js</a>
     <li> <a id="expressJsLink" href="http://expressjs.com/">Express.Js</a>
     </ul>
     </div>
