extends Shared/Layout.jade

block content
    script(src='/socket.io/socket.io.js')
    script(src='/js/chatroom.js')
    h1 Chatroom
    div#chat
        div.inlineBlock
            //span#you Your name:
            input(type="hidden", value= '#{username}')#name
            //br
            div#messages
            div.inlineBlock.party
                b Participants
                hr
                div#participants
            form#messageForm
                textarea(rows="1", cols="50", placeholder="Share Something!", maxlength=200, style="width:90%;float:left; margin-left:0px;")#outgoingMessage
                input(type="button", value="Share", disabled=true, style="width: 9%; margin:auto;")#send
         
         

