extends Shared/Layout.jade

block content
    <body>
    <div id = "header">
    //<button id="topSubmit" type="button">Login</button>
    //<p><h1>OurChat</h1></p>
    <hr noshade></hr>
    </div>
    <div id ="title"></div>
    <div id = "about">
    <p><h3>About This Page:</h3></p>
    <p> This application should enable logged in users to chat back and forth with whomever else is logged in.
    Effectively, this should resemble the old 90’s style of chat rooms that used to be so prolific on the internet.
     Everyone that is logged in should see everyone else’s messages, and should be able to respond to the entire connected group.
    </p>
    </div>
    <div id = "centerLoginCont">
    <button id= "middleLogin" type="button" onclick="location.href='/Users/Login'">Login to Chat</button>
    </div>
    <div id = "developers">
    <p><h3>Project By Weber State Students:</h3>
    <ul id = "devList">
    <li>Daniel Bigelow: <a href="">Link</a></li>
    <li>Morgan Dahl: <a href="">Link</a></li>
    <li>Blake Freeman: <a href="">Link</a></li>
    <li>Justin Messenger: <a href="">Link</a></li>
    <li>Nelson Muhlstein: <a href="">Link</a></li>
    <li>Adam Stewart: <a href="">Link</a></li>
    </ul>
    </div>
    </body>