extends Shared/Layout.jade

block content
    script(src='/js/login.js')
    div#heading
        h1 Login
    br
    
    //form#loginForm(name="userName")<!--(id = "login", method="POST", action="/login")
    label#userlabels(for='username') User Name
    input(type='text')#username
    br
    label#passlabels(for='password') Password 
    input(type='password')#password
    br
    //input(type="button", name="submit1" value = "Log In")#login
    button(name="submit")#login Login

    ///div
        div.inlineBlock#login
            div
                span#username User Name: 
                input(type="text", value="")#name
            div
                span#password Password:
                input(type="password", value="")#pwd
            br
            br
            button.button.button1#btnLogin Login
            div#register
                a(href="/Register", title="Register") Create New User
        
        