extends Shared/Layout.jade

block content
    script(src='/js/login.js')
    div#heading
        h1 Login
    br
    
    //form#loginForm(name="userName")<!--(id = "login", method="POST", action="/login")
    label#userlabels(for='username') User Name
    input(type='text')#name
    br
    label#passlabels(for='password') Password 
    input(type='password')#pwd
    br
    ///input(type="button", name="submit1" value = "Log In")#login
    button(name="submit")#btnLogin Login
    br
    a(href="/Users/Register", title="Register")#regNew Create New User 

    