extends Shared/Layout.jade

block content
    script(src='/js/login.js')
    div#heading
        h1 Login
    br
    div
        div.inlineBlock#login
            div
                span#username User Name: 
                input(type="text", value="")#name
                label#nameErr
            br
            br
            br
            div
                span#password Password:
                input(type="text", value="")#pwd
                
                label#pwdErr 
            br
            br
            button.button.button1#btnLogin Login
            div#register
                a(href="/Register", title="Register") Create New User
        
        