extends Shared/Layout.jade

block content
    script(src='/js/register.js')
    div#heading
        h1 Register
    br
    div
        div.inlineBlock#register
            div
                span#fName  First Name: 
                input(type="text", value="")#fName
                label#nameErr
            div
                span#lName  Last Name: 
                input(type="text", value="")#uName
                label#nameErr
            div
                span#uName  Username: 
                input(type="text", value="")#uName
                label#nameErr
            div
                span#email  Email Address: 
                input(type="email", value="")#email
                label#nameErr
            div
                span#name  Password: 
                input(type="password", value="")#pwd
                label#pwdErr
            div
                span#name  Re-enter Password: 
                input(type="password", value="")#rPwd
                label#pwdErr
            div 
                button.button.button1#btnRegister Register