body {
    margin: 0px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:#303030;
}

h1 {
    color: white;
    margin-top: 25px;
    border: 2px solid rgb(193, 193, 193);
    border-radius: 8px;
    padding: 10px 35px 10px 35px;
    width: 15%;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
}

#heading {
    text-align: center;
}
#form{
    
}
span#you {
    color: white;
    margin: 15px;
}

span#username, span#firstName, span#lastName, span#userName, span#emailAddress, span#pass, span#rPass  {
    color: white;
    margin-right:auto;
    
}

span#password, input#pwd,input#rPwd,input#fName, input#lName,input#uName, input#email {
    color: white;
    margin-right: 15px;
    margin-left: 30px;
    
    
}

input#name, input#pwd,input#rPwd,input#fName, input#lName,input#uName, input#email{
    width: 300px;
    margin: 8px 0;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;    
}

textarea {
    resize: none;
}
.inlineBlock#register{
    text-align: right;
}
.inlineBlock#login {
    display: inline-block;
    margin-top: 50px;
}

.topAligned {
    vertical-align: top;
}

.party {
    background-color: red;
    margin-left: 50px;
}

#nav {
    width: 100%;
    height: 110px;
    background: url(images/material.jpg);
    background-size: cover;
}

#nav_wrapper {
    height: 40px;
    width: 100%;
    background: #377D7A;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    position: absolute;
}

#nav_wrapper ul li {
    list-style:none;
    display: inline;
    font-weight: bold;
    padding: 100px;
}

#nav_wrapper a{
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

ul {
    text-align: center;
    margin:10px;
    padding: 0px;
}

#nav_wrapper a:hover {
    color: #00ffad;
}

.button {
    background-color:#377D7A;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #377D7A;
    border-radius: 15px;
    padding: 10px 30px 10px 30px;
}

.button1:hover {
    background-color: #377D7A;
    color: white;
}
#register {
    margin-top: 15px;
}
#register a {
    margin-top: 5px;
    color: white;
}